.img{
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    background: url("https://image.freepik.com/foto-gratis/chico-barbudo-gafas-realidad-virtual-apuntando-dedo-arriba_74855-3176.jpg") no-repeat fixed center;
    background-size: cover;
    height:400px;
    width:100%;
}
.link{
    color: black;
    text-decoration: none;
}
.link:hover{
    color: black;
    text-decoration: none;
}
.shadoww{
    text-shadow: 1px 2px #999;
 }